#cityInput, #SearchBar_h1{
  margin: 1% 30%;
  width: 40%;
  display: block;
  font-size: 40px;
}

#container{
  margin: 2% 30%;
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px solid black;
  border-radius: 6%;


}


#container h1{
  margin: 0 auto;
  font-size: 350%;
}


#submitButton{
  margin-left: 47%;
  margin-top: 3%;
  font-size: 40px;
}


#condition_img{
  position: absolute;
  left: 64.5%;
  bottom: 48%;
  width: 150px;
  height: auto;
}


p{
  position: absolute;
  bottom: 0%;
  margin-bottom: 0;
  padding-bottom: 0; 
  font-size: 65%;
  margin-left: 42%;
}